{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Add Book{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='css/styles.css')}}">
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8">
      <h1>Edit a Book</h1>
        {{ wtf.quick_form(form, novalidate=True) }}
        <p>Book Name: {{book.title}}</p>
        <p>Current Rating {{book.rating}}</p>
    </div>
  </div>
</div>
<hr>
<p class="space-above"><a href="{{url_for('home')}}">Checkout all the Books</a></p>
<hr>
{% endblock %}