{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Add Book{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='css/styles.css')}}">
{% endblock %}
{% block content %}
<h1>My Library</h1>
    {% if books == [] %}
    <p>Library is empty.</p>
    {% endif %}
    <ul>
        {% for book in books %}
        <li>
            {{book.title}} - {{book.author}} - {{book.rating}}
            <a href="{{url_for('edit_rating', id=book.id)}}">Edit Rating</a>
            <p>Book Name: {{book.title}}</p>
            <p>Current Rating {{book.rating}}</p>
        </li>

        {% endfor%}
    </ul>
<hr>
<a href="{{url_for('add')}}">Add New Book</a>
<hr>
{% endblock %}