{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Add Book{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='css/styles.css')}}">
{% endblock %}
{% block content %}
<h1>My Library</h1>
    {% if all_books == [] %}
    <p>
        <b>
            <u>
                Library is empty.
            </u>
        </b>
    </p>
    {% endif %}
    <ul>
        {% for book in all_books %}
        <li>
            <a href="{{url_for('delete_book', book_id=book.id)}}">Delete Book</a>
            {{book.title}} - By {{book.author}} - {{book.rating}}/10
            <a href="{{url_for('edit_rating', book_id=book.id)}}">Edit Rating</a>
        </li>
        {% endfor%}
    </ul>
<hr>
<a href="{{url_for('add')}}">Add New Book</a>
<hr>
{% endblock %}